/* Variabler */
/* Färger */
/* Variabeln nedan används för att styra hela färgschemat */
$opacity: 0.5;
$primary-color: rgb(0, 250, 100, $opacity);
$secondary-color: rgb(0, 240, 100);
$send-btn-color: rgb(0, 150, 100);
$delete-btn-color: rgb(150, 0, 50);
$btn-text-color: white;
$main-nav-color: rgb(100, 200, 100);
$border-color: #707070;
$section-color: rgba(0, 200, 100, $opacity);
/* Typsnitt */
$font-stack: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-size: 1em;
/* Bredd och höjd på sidhuvud och sidfot */
$header-footer-width: 100%;
$header-height: 60px;
$footer-height-mobile: 130px;
$footer-height-desktop: 60px;
/* Maxbredd och -höjd på innehållsdelen */
$max-width-tablet: 480px;
$max-width-desktop: 640px;
/* Padding och marginal */
$padding: 10px;
$margin: 10px;
/* If-else-satser */
/* Ändrar färgschemat beroende på huvudfärgens opacitet */
@if opacity($primary-color) > 0.5 {
    $secondary-color: darken($secondary-color, 5 * $opacity);
    $border-color: darken($border-color, 10 * $opacity);
    $main-nav-color: darken($main-nav-color, 15 * $opacity);
    $section-color: darken($section-color, 5 * $opacity);
    $send-btn-color: darken($send-btn-color, 5 * $opacity);
    $delete-btn-color: darken($delete-btn-color, 5 * $opacity);
} @else if opacity($primary-color) < 0.5 {
    $secondary-color: lighten($secondary-color, 20 * $opacity);
    $main-nav-color: lighten($main-nav-color, 10 * $opacity);
    $border-color: lighten($border-color, 10 * $opacity);
    $section-color: lighten($section-color, 5 * $opacity);
    $send-btn-color: lighten($send-btn-color, 10 * $opacity);
    $delete-btn-color: lighten($delete-btn-color, 10 * $opacity);
}
/* Mixins */
/* Wrapper i sidhuvud och sidfot */
@mixin wrappers() {
    margin: 0 auto;
    padding-top: $padding;
    overflow: auto;
    padding-left: $padding;
    padding-right: $padding;
    /* Surfplatta */
    @media only screen and (min-width: 481px) and (max-width: 768px) {
        max-width: $max-width-tablet;
    }
    /* Desktop */
    @media only screen and (min-width: 769px) {
        max-width: $max-width-desktop;
    }
}
/* Knappar */
@mixin buttons() {
    width: 100%;
    font-size: $font-size;
    font-family: $font-stack;
    margin: $margin / 2 0;
    padding: $padding / 2;
    font-weight: bold;
    border: none;
}
/* Inmatningsfält */
@mixin inputs() {
    font-size: $font-size;
    font-family: $font-stack;
    width: 100%;
    margin-bottom: $margin / 2;
    padding: $padding / 2;
}
@mixin sections() {
    padding: $padding;
    background-color: $section-color;
    margin: $margin / 2 0;
}


