/* Sidfot */
/* Mobil */
footer {
    height: 150px;
    border-top: 1px solid black;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(0, 240, 100);
}
#footer-wrapper {
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#footer-wrapper > p {
    line-height: 1.5em;
}
/* Surfplatta */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #footer-wrapper {
        max-width: 480px;
    }
}
/* Desktop */
@media only screen and (min-width: 769px) {
    footer {
        height: 60px;
    }
    #footer-wrapper {
        max-width: 640px;
        overflow: auto;
    }
    #author {
        width: 15%;
        float: left;
        margin-right: 10px;
    }
    #education {
        width: 35%;
        float: left;
        margin-left: 10px;
    }
    #email-link {
        width: 30%;
        float: right;
        margin-left: 10px;
    }
    #semester {
        width: 10%;
        float: right;
        margin-right: 10px;
    }
}