/* Sidhuvud */
/* Mobil */
header {
    width: 100%;
    border-bottom: 1px solid black;
    height: 60px;
    background-color: rgb(0, 240, 100);
}
#header-wrapper {
    margin: 0 auto;
    padding-top: 10px;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}
#course {
    width: 40%;
    float: left;
}
#task {
    width: 60%;
    float: right;
}
/* Surfplatta */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    #header-wrapper {
        max-width: 480px;
    }
    #course {
        width: 30%;
    }
    #task {
        width: 45%;
    }
}
/* Desktop */
@media only screen and (min-width: 769px) {
    #header-wrapper {
        max-width: 640px;
    }
    #course {
        width: 25%;
    }
    #task {
        width: 30%;
    }
}

